python-dotenv
django
openai>=1.0.0
azure-identity
azure-ai-formrecognizer
azure-search-documents>=11.4.0
azure-storage-blob
pytest
pytest-asyncio
pytest-aiohttp
slack_sdk>=3.19.0
certifi
botbuilder-core
aiohttp>=3.7.4
botbuilder-integration-aiohttp
asyncio
cookiecutter
# Add other specific dependencies as needed
-r requirements/base.txt
-r requirements/development.txt
-r requirements/testing.txt
-r requirements/production.txt
