python-dotenv
django
openai>=1.0.0
azure-identity
azure-ai-formrecognizer
azure-search-documents
azure-storage-blob
pytest
pytest-asyncio
pytest-aiohttp
slack_sdk>=3.19.0
certifi
botbuilder-core
aiohttp
botbuilder-integration-aiohttp
cookiecutter
# Add other specific dependencies as needed
-r requirements/base.txt
-r requirements/development.txt
